.body{
    background-image: url("https://wallpapers.com/images/hd/uno-card-red-poster-fahn507dk0y40lko.jpg");
    background-size: cover;
    background-position: center;
}
.container-inicio {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.947);
}

.card-inicio {
    width: 100vh;
    box-shadow: 0px 4px 10px rgba(255, 242, 0, 0.618);
    border-radius: 10px;
    background: rgb(0, 0, 0);
    border: 6px solid rgb(255, 255, 255);
}

.card-body-inicio {
    padding: 2rem;
    display: flexbox;
    justify-content: center;
}
.text-center{
    font-weight: bold;
    color: white;
}
.btn-primary{
    background-color: #00d107;

}
.btn-primary:hover{
    background-color: #00ac06;
}
.btn-success{
    background-color: #009dff;

}
.btn-success:hover{
    background-color: #000dff;
}
.btn{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.362);
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
.btn-outline-danger{
    background-color: #e40000;
}
.logo{
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}