
.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0%;
    margin: 0%;
}

.card-login {
    display: flex;
    height: 90%;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.818);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.947);
}

/* Asegurar que el padding sea adaptable */
.card-body-login {
    padding: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos generales para inputs */
.form-control {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
}

.form-control:focus {    
    border-color: #007bff; /* Cambia el color del borde al enfocar */    
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul al enfocar */
}

/* Estilos del botón */
.btn-primary {
    background-color: #ff0e0e;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%; /* Hace que el botón ocupe todo el ancho disponible */
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Enlaces */
.text-center a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.text-center a:hover {
    text-decoration: underline;
}

.box-form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
    width: 100%;
}
.img-login{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-data{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-datas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.btn{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.256);
}
input{
    border: 1px solid black;
    border: 1px solid black;
}