.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-register {
    height: 90%;
    width: 85%; 
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.83);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.947);
}

.card-body-register{
    height: 100%;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Inputs adaptables */
.form-control {
    height: 70%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
}
.form-control:focus {    
    border-color: #007bff; /* Cambia el color del borde al enfocar */    
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul al enfocar */
}

/* Botón mejorado para adaptarse */
.btn-primary {
    background-color: #ff0e0e;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos de enlaces */
.text-center a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.text-center a:hover {
    text-decoration: underline;
}

.box-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}
.img-login{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border: 1px solid black;
}
.btn{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.256);
    border: 1px solid black;
}